

@media(max-width: 992px){

  h1{
    font-size: x-large !important;
  }

  .text-content{
    font-size: smaller !important;
  }

  .tags{
    font-size: x-small !important;
    padding: 0 !important;
  }

  .quantity{
    font-size: small !important;
  }

}

@media (max-width: 767px){

  .container{
    width: 75% !important;
    margin: 1rem auto !important;
  }

  .fragrance-img{
    border-top-right-radius: 5px;
    border-bottom-left-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
  }

  .tags{
    font-size: x-small !important;
  }

}
