

@media (max-width: 767px){

  .container{
    width: 75% !important;
    margin: 1rem auto !important;
  }

  .fragrance-img{
    border-top-right-radius: 5px;
    border-bottom-left-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
  }


}
